<div class="row">
<div class="nameCount">
    <h1>Hello, {{name}} has been greeted {{count}} times.</h1>
</div>
<div class="link">
    <a href="/greeted">Return to names greeted</a>
    <a href="/">Return to greeting</a>
</div>
</div>