<div class="row">
<div class="nameCount">
    <h1>Hello, {{nameValue}} has been greeted {{countValue}} times.</h1>
</div>
<div class="center">
    <a href="/greeted">Return to names greeted</a> <br>
    <a href="/">Return to greeting</a>
</div>
</div>