
<div class="row">

    <h1>Greeted Names</h1>

    <div class="center">
   
           <ul>
{{#each list}}
    <li><a href ="/count/{{name}}">{{name}}</a></li>
{{/each}}
</ul>

{{!-- <a id="nGreeted" href="/counter/{{this.nameGreeted}}"><h2>{{this.nameGreeted}}</h2></a> --}}
        

<div class="center">
    
  
    <a href="/"><u>Return to greeting</u></a>
</div>
</div>