<div class="row">

    <h1>Greeted Names</h1>

    <div class="center">
    <ul>
        <li style="list-style-type: none;font-size:larger"> 
            {{list}}</li>
    </ul>
    </div>

<div class="center">
    
  
    <a href="/"><u>Return to greeting</u></a>
</div>
</div>