 <div class="row center">
        <div class="col-12" id="p1">

            <h1>Greetings</h1>
           
        </div>
    </div>
 
        <div class="col-12">
            
            <h3 id="displayName" class="error"> {{messages.error}} </h3>
            <h3 id="displayName" class="green"> {{messages.success}} </h3>
        </div>

    </div>
   
    <form action="/greet" method="POST"><div class="row center"></div>
        <div class="col-3"></div>
        <div class="col-6 center">
           
             <strong>Name:</strong>   <input id="inputBox" class="input" name="nameInput" type="console.text" placeholder="Enter your name here"  class="nameInput" pattern="[a-zA-Z]*"  title="Please enter only letters A-Z/ a-z"  >  
            
        </div>
      <div class="row center">
        <div class="col-12">
        <div class="col-6" id="counterAndResetBox">
            <p class="">
                 <strong class="counter1">Counter : &nbsp;
                    <span id="countNumber" class="counter">{{count}}</span>
                </strong>
            </div>
        </div>
      </div>
    </div>
       
         <div class="row center">
        <div class=" col-12 radio-toolbar">
            <input type="radio" name="radioLang" value="English" value="English" id="1" class="language">
            <label for="1"> English</label>
            <input type="radio" name="radioLang" value="Afrikaans" id="2" class="language ">
            <label for="2">Afrikaans</label>
            <input type="radio" name="radioLang" value="isiXhosa" id="3" class="language">
            <label for="3">isiXhosa</label>
        </div>    
    </div>
    
 
     <div class="row center">
        <div class="col-12">
            

            <h3 id="displayName" class="name"> {{message}}</h3>
        </div>

    </div>
                <div class="row center">
                    <div class="col-6 center" id="greetBox">
                        <button id="greetBtn" type="submit" value="Submit" class="button">
                            <strong>Greet Me</strong>
                        </button>
                    </div>
                     </form>
                     

                     <div class="col-6 center">
            <button type="submit" id="resetBtn"  class="resetBtn">Reset</button>
                
            </div>
</div>
           
             <div id="greetBox" class='greetBoxes'>
           <button style="background-color: transparent; border:transparent;font-size:x-large" type="submit"><a href="/greeted"><strong><u>Greeted Names</u></strong></a></button>
           
           <div>
          
       
           
           </div>
</div>
</form>
 
           
     

       
   
        
         {{!-- <div class="col-6 center">
            <button type="submit" id="resetBtn"  class="resetBtn">Reset</button>
            </div>
        <div class="col-6" id="greetBox">

        </div> --}}


    
  